doctype html
html
  head
    title Login
  body
    form(action='/auth/openid', method='post')
      div
        label OpenID:
        input(type='text', name='openid_identifier')
        br
      div
        input(type='submit', value='Sign In')
